body {
  background-color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 16px;
}

div h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 28px;
}

div h5 {
  font-size: 16px;
}

strong {
  font-weight: 700;
}

li {
  font-size: 16px;
}
footer {
  text-align: center;
}

.bootstrap {
  color: #610ba8;
  font-weight: bold;
}

.html5 {
  color: #dd3b00;
  font-weight: bold;
}

.css3 {
  color: #008ee0;
  font-weight: bold;
}

.container {
  background-color: #fff;
}

.about-img {
  float: right;
}

.portfolio-header h3 {
  text-align: center;
}

.portfolio-header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
}

.interest-left img {
  float:left;
  margin: 10px;
  width: 200px;
  height: 150px;
  border-radius: 25%;
  object-fit: cover;
}

.interest-right img {
  float:right;
  margin: 10px;
  width: 200px;
  height: 150px;
  border-radius: 25%;
  object-fit: cover;
}

.panel > .panel-heading {
  background-image: none;
  background-color: #1675d1;
  color: #fff;
}
