body {
  background-color: #dbdbdb;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 16px;
}

div h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 28px;
}

div h5 {
  font-size: 16px;
}

strong {
  font-weight: 700;
}

.container {
  background-color: #f2f2f2;
}

.portfolio-header h3 {
  margin-top: 0px;
  text-align: center;
}

.portfolio-header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.panel-body img {
  float:left;
  margin: 10px;
  width: 200px;
  height: 150px;
  border-radius: 25%;
  object-fit: cover;
}

.panel > .panel-heading {
  background-image: none;
  background-color: #1675d1;
  color: #fff;
}
